{{#with data}}
	<div id="bookmarks-page">
		<div id="bookmarks">
			<div class="container">

				<!-- Title -->
				<div class="row">
					<div class="col text-center">
						<h1>Bookmarks</h1>
					</div>
				</div>

				<!-- Show edit button if logged in -->
				{{#if loggedIn}}
					<div class="row">
						<div class="col text-right text-primary">
							<a class="edit-button">Edit</a>
						</div>
					</div>
				{{/if}}

				<!-- Ask user to log in/sign up if logged out -->
				{{#unless loggedIn}}
					<div class="row">
						<div class="col">
							<p><a href="/login">Log In</a> or <a href="/signup">Sign Up</a> to bookmark your favorite stretch routines!</p>
						</div>
					</div>
				{{/unless}}

				<!-- List of bookmarks -->
				{{#if loggedIn}}
					<div class="row">
						<div class="col-12">
							<ul class="bookmarks-list">
					
								{{#each loggedIn.bookmarks}}
									<li class="bookmark d-flex justify-content-between">
										<!-- Bookmark title -->
										<h5><a class="bookmark-link" href="{{url}}">{{name}}</a></h5>
										<!-- Edit/delete options -->
										<span class="bookmark-options">
											<span class="oi oi-pencil text-primary"></span>
											<span class="oi oi-trash delete-bookmark text-primary"></span>
										</span> 				
									</li>
								{{/each}}
					
							</ul> <!-- /.bookmarks-list -->
						</div> <!-- /.col -->
					</div> <!-- /.row -->
				{{/if}}

			</div> <!-- /.container -->
		</div> <!-- /#bookmarks -->
	</div> <!-- /#bookmarks-page -->
{{/with}}

<!-- Confirm delete modal -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
  <div class="modal-dialog .modal-dialog-centered" role="document">
    <div class="modal-content">
    	<!-- Header -->
    	<div class="modal-header">
        <h5 class="modal-title">Delete Bookmark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Body -->
      <div class="modal-body">
        <p class="dark">Are you sure you want to delete <strong><span class="delete-target"></span></strong>?</p>
      </div> 
      <!-- Footer -->
      <div class="modal-footer">
      	 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="#delete-submit" onclick="deleteBookmark()" class="btn btn-primary" >Yes</button>
      </div> 
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<!-- fav.js -->
<script src="js/bookmark.js"></script>