{{#with data}}
<div id="setup-page">

<div class="container">

<div class="progress-container">  
<ol class="progressBar">
  <li class="progress-bar-step is-complete">
    <svg class="progress-bar-icon"><use xlink:href="#checkmark-bold"/></svg>
    <span class="progress-bar-stepLabel">
    	{{#unless setting}}
    		Choose Setting
    	{{/unless}}
    	{{#if setting}}
    		Selected {{setting}}
    	{{/if}}
	</span>
  </li>
  <li class="progress-bar-step is-current">
    <svg class="progress-bar-icon"><use xlink:href="#checkmark-bold"/></svg>
    <span class="progress-bar-stepLabel">Customize Stretches</span>
  </li>
  <li class="progress-bar-step">
    <svg class="progress-bar-icon"><use xlink:href="#checkmark-bold"/></svg>
    <span class="progress-bar-stepLabel">Ready to Go!</span>
  </li>
</ol>
  
</div>

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
  <symbol id="checkmark-bold" viewBox="0 0 24 24">
    <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
  </symbol>
</svg>

	<div class="row">
		<div class="col text-center">
			<h1>Customize {{setting}} Stretches</h1>
			<div class="legend d-flex justify-content-center">
				<p class="d-flex align-items-center">
					<span class="oi oi-target"></span>
					<small>Body part targeted</small>
				</p>
				<p class="d-flex align-items-center">
					<span class="oi oi-clock"></span>
					<small>Duration</small>
				</p>
			</div>
		</div>
	</div>

	<div class="stretches-container">
		<div class="row">
			<div class="col">

		<form id="stretch-form" action="/go" method="get">

				<ul class="stretch-list">
				{{#each stretches}}
					{{> stretches}}
				{{/each}}
				</ul>
			
			</div> <!-- .col -->
		</div> <!-- .row -->
	</div> <!-- .stretches-container -->

	<div class="notification-setup">
		<div class="row">

				<div class="col-6">
					<!-- Total routine length -->
					<label>Total length of routine:</label>
					
				</div>
				<div class="col-6">

					<input class="form-control total-duration" type="text" placeholder="" readonly>
				</div>
		
		</div> <!-- .row -->
		<div class="row">

				<div class="col-6">
					<!-- Notification interval -->
					<label>Receive alerts every:</label>		    	
				</div>

				<div class="col-6">
					<div id="interval-form-container">
						
						<select name="h" class="form-control" id="h">
					      <option>0</option>
					      <option>1</option>
					      <option>2</option>
					    </select>
					    <span class="colon">:</span>

					    <select name="m" class="form-control" id="m">
					      <option>00</option>
					      <option>01</option>
					      <option>02</option>
					      <option>03</option>
					      <option>04</option>
					      <option>05</option>
					      <option>10</option>
					      <option>15</option>
					      <option>20</option>
					      <option>25</option>
					      <option>30</option>
					      <option>35</option>
					      <option>40</option>
					      <option>45</option>
					      <option>50</option>
					      <option>55</option>
					    </select>
					    <span class="colon">:</span>

					    <select name="s" class="form-control" id="s">
					      <option>00</option>
					      <option>05</option>
					      <option>10</option>
					      <option>15</option>
					      <option>20</option>
					      <option>25</option>
					      <option>30</option>
					      <option>35</option>
					      <option>40</option>
					      <option>45</option>
					      <option>50</option>
					      <option>55</option>
					    </select>
					   

					</div> <!-- .interval-form -->

						<div class="time-labels">
					    	<p><small>H</small></p>
					    	<p><small>MM</small></p>
					    	<p><small>SS</small></p>
					    </div>

					    <input style="display: none;" id="interval-input" type="number" name="interval" value="">
				</div>
			
		</div> <!-- .row -->

		{{#unless loggedIn}}
		<div class="row">
			<div class="col-6">
				<label>Phone number:</label>
				 	
			</div>
			<div class="col-6">
				<input class="form-control guest-phone-input" type="tel">
				<p><small>Ergo sends alerts via SMS.</small></p>  
			</div>
		</div> 
		{{/unless}}

	</div> <!-- .notification-setup -->
	
	<div class="pagination d-flex justify-content-between">

			<button class="btn btn-primary back-button" type="button" onclick="window.location.href='/'">
				Back
			</button>

			<button class="btn btn-primary forward-button confirm-stretches" type="button" {{#if loggedIn}} onclick="confirmStretchesLoggedIn()" {{/if}} {{#unless loggedIn}} onclick="confirmStretches()"{{/unless}}>
				Start Stretching
			</button>

	</div>  <!-- .pagination -->

	</form> <!-- #stretch-form -->

</div> <!-- .container -->

</div>
{{/with}}

<script src="js/setup.js"></script>
