$primary: #007AFF;

$gradient: linear-gradient(79.04deg, #02AAB0 10.29%, #00CDAC 157.89%);
$gradient: -webkit-linear-gradient(79.04deg, #02AAB0 20.29%, #00CDAC 157.89%);
$light-gray: #eee;
$gray: #E0E0E0;

$theme-colors: (
  "primary": #02AAB0
);

$content-max-width: 46rem;

