@font-face {
  font-family: 'Icons';
  src: url('../fonts/openiconic/open-iconic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/openiconic/open-iconic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/openiconic/open-iconic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/openiconic/open-iconic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/openiconic/open-iconic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas-neue/bebas-neue.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bebas-neue/bebas-neue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bebas-neue/bebas-neue.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bebas-neue/bebas-neue.woff2') format('woff2'),
       url('../fonts/bebas-neue/bebas-neue.ttf')  format('truetype'); /* Safari, Android, iOS */
}

