.text-primary {
	background: $gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue';
  color: $tundora;
  letter-spacing: .08rem;
}

h1 {
	letter-spacing: .07rem;
	font-size: 2.3rem;
	line-height: 2.2rem;
	//margin: 1.6rem 0;
	margin: 0 0 1.4rem;
}

h2 {
	//margin: 1rem 0;
	letter-spacing: 2 !important;
	font-size: 2rem;
}

h3 {
	font-size: 1.4rem;
	letter-spacing: .08rem;
}

p {
	font-size: 1.2rem;
}

a:hover {
	text-decoration: none;
}

a {
	&:not(.nav-link) {
		@extend .text-primary;
	}
}
.warning {
	color: red;
	font-size: 1rem;
}

