#go-page {
	h1 {
		margin-bottom: 1.5rem;
	}
}

.more-info {
	display: inline-block;
	margin-top: -2rem;
	.caret {
		margin-top: -0.3rem;
		margin-left: 0.1rem;
		font-size: 1.5rem;
	}
}

.stretches-info {
	padding: 1rem 1rem 0;
	ol {
		padding-left: 1rem;
	}
	li {
		@extend p;
		margin: 0;
		font-size: 0.8rem;
	}
}

.info-drawer {
	display: none;
}

#fav-form {
	margin-top: -2rem;
	margin-bottom: -5rem;
	padding: 1.5rem 0 1rem;
	width: 100%;
	color: $gray;
	font-size: 2.5rem;
	&.bookmarked {
		color: #ff6d6d;
	}
}
#fav-form-submit {
	z-index: 5000;
	cursor: pointer;
	display: inline-block;
}

#heart {
	display: none;
	z-index: 9999;
	font-size: 9rem;
	line-height: 0;
	padding: 3rem;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	text-align: center;
	span {
		margin-top: 30vh;
		text-shadow: 0 .3rem 1rem rgba(14, 57, 61, 0.14);
	}
}

.panel {
	background: #FFFFFF;
	box-shadow: 0 .3rem 1rem rgba(14, 57, 61, 0.12);
	border-radius: .2rem;
	height: 100%;
	width: 100%;
	padding: 0.5rem;
	.oi {
		font-size: 1.5rem;
	}
}

.pause-panel {
	display: none;
}

.gif-panel {
	display: none;
}

.curr-stretch-img {
	border-radius: 5rem;
	overflow: hidden;
	margin-top: 1rem;
	margin-bottom: 1rem;
	img {
		height: 9rem;
	}
}

#pause-button, #start-button, #stop-button, #resume-button {
	width: 100%;
	cursor: pointer;
}

#resume-button {
	display: none;
}

.curr-stretch-list {
	list-style: none;
	padding-left: 0;
}

.curr-stretch {
	display: none;
	&.active {
		display: block;
	}
}

.gif-panel {
	padding-top: 1.5rem;
}

.stretch-timer {
	font-size: 4rem;
	margin-bottom: 1rem;
}

.working-message {
	text-align: center;
	padding-bottom: 0.3rem;
	font-size: 3rem;

}