/*
 * Go page styles
 */

$status-height: 1rem;
$yellow: #FFDB61;
$blue: #2196F3;

#go-page {
	margin-top: 1.5rem;
	h1 {
		margin-bottom: 1.5rem;
	}
}

#routine-name {
	/* Blue status dot */
	&.active {
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0.85rem;
			margin-left: 0.4rem;
			width: $status-height;
			height: $status-height;
			-moz-border-radius: $status-height;
			-webkit-border-radius: $status-height;
			border-radius: $status-height;
			background-color: $blue;
		}
	}
	/* Yellow status dot */
	&.paused {
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0.85rem;
			margin-left: 0.4rem;
			width: $status-height;
			height: $status-height;
			-moz-border-radius: $status-height;
			-webkit-border-radius: $status-height;
			border-radius: $status-height;
			background-color: $yellow;
		}
	}
}

.more-info {
	display: inline-block;
	font-size: 1rem;
	cursor: pointer;
}

.stretches-info {
	padding: 0.5rem 1rem 0;
	ol {
		padding-left: 1rem;
	}
	li {
		@extend p;
		margin: 0;
		font-size: 0.8rem;
	}
}

.share {
	cursor: pointer;
	margin-left: 0.8rem;
	img {
		height: 1.1rem;
		margin-top: -0.2rem;
	}
}

.share-button {
	cursor: pointer;
}

.share-info {
	padding: 0.5rem 1rem 1rem;
}

.share-drawer {
	display: none;
}

.info-drawer {
	display: none;
}

#bookmark-form {
	margin-top: -2rem;
	margin-bottom: -5rem;
	padding: 1.5rem 0 1rem;
	width: 100%;
	color: $gray;
	font-size: 2.5rem;
	&.bookmarked {
		color: #ff6d6d;
	}
}

#bookmark-form-submit {
	z-index: 5;
	cursor: pointer;
	display: inline-block;
}

.panel {
	background: #FFFFFF;
	box-shadow: 0 .3rem 1rem rgba(14, 57, 61, 0.12);
	border-radius: .2rem;
	height: 100%;
	width: 100%;
	padding: 0.5rem;
	.oi {
		font-size: 1.5rem;
	}
}

.pause-panel {
	display: none;
}

.gif-panel {
	display: none;
}

.curr-stretch-img {
	border-radius: 5rem;
	overflow: hidden;
	margin-top: 1rem;
	margin-bottom: 1rem;
	img {
		height: 9rem;
	}
}

.panel-header {
	display: grid;
	grid-template-columns: auto 1.8rem;
	h4 {
		padding-bottom: 0.5rem;
		padding-top: 0.2rem;
	}
	img {
		width: 0.9rem;
		padding-top: 0.55rem;
		margin-left: 1rem;
	}
}

.x-icon {
	cursor: pointer;
}

#pause-button, #start-button, #stop-button, #resume-button {
	width: 100%;
	cursor: pointer;
}

#resume-button {
	display: none;
}

.curr-stretch-list {
	list-style: none;
	padding-left: 0;
}

.curr-stretch {
	display: none;
	&.active {
		display: block;
	}
}

.gif-panel {
	padding-top: 1.5rem;
}

.stretch-timer {
	font-size: 4rem;
	margin-bottom: 1rem;
}

.working-message {
	text-align: center;
	padding-bottom: 0.3rem;
	font-size: 3rem;
}