/*
 * Log in page styles
 */

.toggleLoginSignup {
	text-align: center;
}

.fb-login {
	text-align: center;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

#login-page {
	margin-top: 1.5rem;
}

.loginSignup {
	width: 100%;
	max-width: 25rem;
	.input-group {
		margin: 1rem 0;
	}
}