$footer-height: 5rem;

#status-container {
	display: none;
	cursor: pointer;
	transition: .5s background;
	background: -webkit-linear-gradient(left, rgba(94,177,255,1) 0%, rgba(0,114,235,1) 100%);
	color: #fff;
	height: 3.5rem;
	text-align: center;
	padding-top: 0.4rem;
	
	&.pause {
		background: -webkit-linear-gradient(left, rgba(255,226,110,1) 0%, rgba(255,192,97,1) 100%);
	}
}

#status {
	color: #fff;
	font-weight: bold;
}

.touch-to-return {
	font-size: 0.8rem;
	z-index: 9999;
	color: #fff;
	margin-top: -1.3rem;
}

#stop-button {
	display: none;
}

.logo {
	img {
		height: 4rem;
	}
}

.login {
	text-align: left;
}

#header-container {
	background-color: #fff;
	box-shadow: 0px 2px 15px rgba(17, 50, 53, 0.1);
}
.header {
	padding-top: 1rem;
	padding-bottom: 0.6rem;
}

#name {
	color: #bbb;
	font-size: 1rem;
	font-weight: bold;
}

.dropdown-toggle::after {
    display:none;
}

.dropdown-active {
	span {
		color: $primary;
	}
}

.dropdown-item {
	cursor: pointer;
}

.nav-link {
	.oi {
		font-size: 1.3rem;
		margin-bottom: 0rem;

	}
	.oi-caret-bottom {
		font-size: 0.7rem;
		margin-left: 0.3rem;
	}
	color: $gray !important;
	padding: 0 1.3rem;
	a {
		color: $gray;
	}
	&.active {
		background-color: transparent !important;
		.oi {
			color: $primary;
		}
	}
	&:hover {
		color: $primary;
	}
}

.login-nav-link {
	color: $light-gray;
	&.active {
		background-color: transparent !important;
	@include gradient;
		span {
			color: $primary;
		}
	}
}

.nav-link-md {
	color: #aaa;
	font-weight: bold;
	&.active {
		@extend .text-primary;
	}
}

.nav-link-name, .nav-link-md {
	margin-top: -0.2rem;
}

.dropdown-menu-right {
	right: 0;
	left: auto;
	text-align: right;
}


/*
#fb-name {
	padding-right: 0.4rem;
}
*/

.user-info {
	display: inline-block;
	margin-top: -2rem;
}

.profile-pic-container {
	margin-bottom: -0.9rem;
	display: inline-block;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 2.5rem;
	overflow: hidden;
	img {
		max-width: 100%;
	}
}


/* Sticky footer styles
-------------------------------------------------- */

/*
html {
	position: relative;
	min-height: 100%;
}
body {
	// Margin bottom by footer height 
	padding-bottom: 1.5rem;
	margin-bottom: $footer-height;
} */
.footer {
	display: none;
	//
	padding-top: 0rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	// Set the fixed height of the footer here
	height: $footer-height;
	line-height: $footer-height;
	background-color: #f5f5f5;
}

